appnope==0.1.0
backports.shutil-get-terminal-size==1.0.0
decorator==4.1.2
Django==1.11.5
django-appconf==1.0.2
django-compressor==2.2
django-hamlpy==1.1.1
django-sass-processor==0.5.6
enum34==1.1.6
future==0.16.0
ipdb==0.10.3
ipython==5.5.0
ipython-genutils==0.2.0
libsass==0.13.4
logfmt==0.2
pathlib2==2.3.0
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.5.2
py==1.4.34
pyflakes==1.6.0
Pygments==2.2.0
pytest==3.2.3
python-gettext==3.0
pytz==2017.2
rcssmin==1.0.6
regex==2017.11.9
rjsmin==1.0.12
sass==2.3
scandir==1.6
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
wcwidth==0.1.7
