body{
  background-color: #00C0A5;
}

.form-wrapper {
  padding-top: 7.5em;
}

.signin-form-wrapper{
  padding-top: 7em;
}

.form{
  text-align: center;
}

.field-wrapper{
  margin: 1em;
  color: #fff;
}

.login-input{
  height: 3em;
}

.signin-input{
  height: 2.2em;
}

.server-response{
  color: #fff;
  text-align: center;
}

.input{
  width: 100%;
  border: 0.1em solid #fff;
  outline: none;
  font-size: 2em;
  text-align: center;
  background-color: #58D5B9;
  color: #fff;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #58D5B9 inset !important;
    -webkit-text-fill-color: #fff;
}

.button{
  background-color: #fff;
  color: #58D5B9;
}

.input::placeholder{
  text-align: center;
  color: #fff;
}

.new-user-link{
  text-align: center;
  color: #fff;
  font-size: 2em;
}

a{
  color: #fff;
  text-decoration: underline;
}
